  /* container section */

.container{
    background-color: whitesmoke;
    width: 1350px;
    height: 500px;
}
#container1{
    background-color: white;
    width: 1350px;
    height: 110px;
}
.ctnr11{
    background-color:whitesmoke;
    position: absolute;
    display: inline-block;
    height: 45px;
    top:0px;
    width: 1150px;
    padding-right: 200px;
}
#ctnr12{
    background-color:white;
    position: absolute;
    display: inline-block;
    height: 40px;
    top: 40px;
    width: 1150px;
    padding-right: 200px;
}
.searchbox{
    background-color:whitesmoke;
    border-radius: 95px;
    position: absolute;
    display: inline-block;
    margin-left: 110px; 
    height: 40px;
    top: 4px;
    width: 1108px;
} 

.ctnr13{
    background-color:white;
    position: absolute;
    display: inline-block;
    height: 40px;
    top: 80px;
    width: 1150px;
    padding-right: 200px;
}

.ctnr13app{
    position: absolute;
    display: inline-block;
    margin-left: 8px;
    top: -5px;
}
.ctnr13gmail{
    position:absolute;
    display: inline-block;
    margin-left: 92px; 
    top: -5px;
}
.ctnr13yt{
    position: absolute;
    display: inline-block;
    margin-left: 180px;
    top: -5px;
}
.ctnr13map{
    position: absolute;
    display: inline-block;
    margin-left: 283px;
    top: -5px;
}
.ctnr13adsense{
    position: absolute;
    display: inline-block;
    margin-left:353px;
    top: -5px;
}
.ctnr13meet{
    position: absolute;
    display: inline-block;
    margin-left: 424px;
    top: -5px;
}
.ctnr13drive{
    position: absolute;
    display: inline-block;
    margin-left: 504px;
    top: -5px;
}
.ctnr13photo{
    position: absolute;
    display: inline-block;
    margin-left:585px;
    top: -5px;
}
.ctnr13translate{
    position: absolute;
    display: inline-block;
    margin-left: 674px;
    top: -5px;
}

#container2{
    background-color:white;
    position: absolute;
    padding-top: 40px;
    width: 1350px;
    height: 450px;
    top: 121px;
}
#container4{
    background-color:white;
    height: 90px;
    width: 100px;
    padding-top: 188px;
    padding-bottom: 0px;
    padding-left: 255px;
    padding-right: 250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subctnr3{
    height: 50px;
    width: 300px;
    margin: 10px;
    padding: 40px;
}
.subctnr4{
    height: 50px;
    width: 300px;
    margin: 10px;
    padding: 40px;
}
.subctnr5{
    height: 50px;
    width: 300px;
    margin: 10px;
    padding: 40px;
}
.ytsubctnr3{
    margin-top: 45px;
} 
.mpsubctnr4{
    margin-top: 45px;
} 
.adsubctnr5{
    margin-top: 45px;
} 
.subctnr3 img{
    background-color: white;
    border-radius: 35px;
    height: 54px;
    width: 60px;
    margin: 0px;
    margin-left: 5px;
    margin-bottom: 0px;
    padding: 0px;
} 

/* logo section */

.subctnr4 img{
    background-color:white;
    border-radius: 35px;
    height: 54px;
    width: 60px;
    margin: 0px;
    margin-left: 4px;
    padding: 0px;
}
.subctnr5 img{
    background-color: white;
    border-radius: 35px;
    height: 54px;
    width: 60px;
    margin: 0px;
    margin-left: 10px;
    padding: 0px;
}

.ctnr13app img{
    position: absolute;
    display: inline-block;
    margin-left: 36px;
    height: 39px;
    top: 5px;
}
.ctnr13gmail img{
    position: absolute;
    display: inline-block;
    margin-left: 46px;
    height: 30px;
    top:11px;
}
.ctnr13yt img{
    position: absolute;
    display: inline-block;
    margin-left: 57px;
    height: 40px;
    top: 5px;
}
.ctnr13map img{
    position: absolute;
    display: inline-block;
    margin-left: 35px;
    height: 25px;
    top: 13px;
}
.ctnr13adsense img{
    position: absolute;
    display: inline-block;
    margin-left: 35px;
    height: 19px;
    top: 15px;
}
.ctnr13meet img{
    position: absolute;
    display: inline-block;
    margin-left: 40px;
    height: 25px;
    top: 12px;
}
.ctnr13drive img{
    position: absolute;
    display: inline-block;
    margin-left: 42px;
    height: 23px;
    top: 12px;
}
.ctnr13photo img{
    position: absolute;
    display: inline-block;
    margin-left: 52px;
    height: 23px;
    top: 14px;
}
.ctnr13translate img{
    position: absolute;
    display: inline-block;
    margin-left: 67px;
    height: 23px;
    top: 14px;
}

/* #searchboximg{
    
}
#ctnr12img{

} */

.backbtn{
    position: absolute;
    display:flex;
    margin-left: 10px;
    height: 20px;
    top: 11px;
    width:0px;

}
.nextbtn{
    position: absolute;
    display:flex;
    margin-left: 43px;
    height: 28px;
    top: 7px;
    width: 0px;

}
.relodbtn{
    position: absolute;
    display:flex;
    margin-left: 82px;
    height: 16px;
    top: 14px;
    width: 0px;

}
.ibtn{
    position: absolute;
    display:flex;
    margin-left: 16px;
    height: 22px;
    top: 7px;
    width: 0px;

   
}
.translatebtn{
    position: absolute;
    display:flex;
    margin-left: 1035px;
    height: 25px;
    top: 3px;
    width: 0px;

}
.bookmarkbtn{
    position: absolute;
    display:flex;
    margin-left: 1073px;
    height: 22px;
    top: 5px;
    width: 0px;

}
.extensionbtn{
    position: absolute;
    display:flex;
    margin-left: 1230px;
    height: 29px;
    top: 4px;
    width: 0px;

}
.lavprofile{
    position: absolute;
    display:flex;
    margin-left: 1275px;
    height: 32px;
    top: 5px;
    width: 0px;

}
.lavprofile img{
    border-radius: 100px;
}
.menubtn{
    position: absolute;
    display:flex;
    margin-left: 1324px;
    height: 14px;
    top: 12px;
    width: 0px;
}

.googletab{
    position: absolute;
    display: flex;
    margin: auto;
    margin-left: -63px;
    height: 50px;
    top: -85px;
    padding: 69px;
    width: 0px;
}
.googletab p{
    background-color: white;
    border-radius: 11px;
    height: 33px;
    padding-left: 45px;
    padding-right: 160px;
    padding-top:12px ;
}
.googletabimg{
    position: absolute;
    display:flex;
    margin-left: 20px;
    height: 17px;
    top: 13px;
}

.ytab{
    position: absolute;
    display: flex;
    margin: auto;
    margin-left: 262px;
    height: 43px;
    top: -16px;
    width: 0px;
}
.ytab p{
    background-color: whitesmoke;
    border-radius: 10px;
    height: 30px;
    padding-left: 45px;
    padding-right: 145px;
    padding-top: 12px;
}
.ytabimg{
    position: absolute;
    display:flex;
    margin-left: 266px;
    height: 34px;
    top: 3px;
}

.newtab{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 514px;
    height: 43px;
    top: -16px;
    width: 0px;
}
.newtab p{
    background-color:whitesmoke;
    border-radius: 14px;
    height: 30px;
    padding-left: 12px;
    padding-right: 169px;
    padding-top: 13px;
    padding-bottom: 27px;
    width: 65px;
    top: 0px;
    bottom: 2px;
}
.gexitbtn{
    position: absolute;
    display: flex;
    margin: auto;
    height: 27px;
    top: 7px;
    margin-left: 223px ;
    width: 50px;

}
.yexitbtn{
    position: absolute;
    display: flex;
    margin: auto;
    height: 27px;
    top: 7px;
    margin-left: 475px ;
    width: 50px;

}
.nexitbtn{
    position: absolute;
    display: flex;
    margin: auto;
    height: 27px;
    top: 7px;
    margin-left: 725px ;
    width: 50px;

}
.newtabbtn{
    position: absolute;
    display: flex;
    margin: auto;
    height: 27px;
    top: 6px;
    margin-left: 777px ;
    width: 50px;

}
.minimizebtn{
    position: absolute;
    display: flex;
    margin: auto;
    margin-left: 1200px;
    height: 17px;
    top: 11px;
    width:0px;

}
.maximizebtn{
    position: absolute;
    display: flex;
    margin: auto;
    margin-left: 1259px;
    height: 14px;
    top: 13px;
    width: 0px;

}
.exitbtn2{
    position: absolute;
    display: flex;
    margin: auto;
    margin-left: 1311px;
    height: 27px;
    top: 7px;
    width: 0px;

}



/* hower section */

.subctnr3:hover{
    background-color: whitesmoke;
}
.subctnr4:hover{
    background-color: whitesmoke;
}
.subctnr5:hover{
    background-color: whitesmoke;
}
.subctnr3 p:hover{
    text-decoration: underline;
}
.subctnr4 p:hover{
    text-decoration: underline;
}
.subctnr5 p:hover{
    text-decoration: underline;
}
.ctnr13app:hover{
    background-color: whitesmoke;
    border-radius: 150px;
    border-style: none;
    transform: scale(1,1);
    z-index: 2;
}
.ctnr13gmail:hover{
    background-color: whitesmoke;
    border-radius: 50px;
    border-style:none;
    transform: scale(1,1);
    z-index: 2;
}
.ctnr13yt:hover{
    background-color: whitesmoke;
    border-radius: 50px;
    border-style:none;
    transform: scale(1,1);
    z-index: 2;
}
.ctnr13map:hover{
    background-color: whitesmoke;
    border-radius: 50px;
    border-style:none;
    transform: scale(1,1);
    z-index: 2;

}
.ctnr13adsense:hover{
    background-color: whitesmoke;
    border-radius:50px;
    border-style:none;
    transform: scale(1,1);
    z-index: 2;
}
.ctnr13meet:hover{
    background-color: whitesmoke;
    border-radius: 50px;
    border-style:none;
    transform: scale(1,1);
    z-index: 2;
}
.ctnr13drive:hover{
    background-color: whitesmoke;
    border-radius: 50px;
    border-style:none;
    transform: scale(1,1);
    z-index: 2;
}
.ctnr13photo:hover{
    background-color: whitesmoke;
    border-radius: 50px;
    border-style:none;
    transform: scale(1,1);
    z-index: 2;
}
.ctnr13translate:hover{
    background-color: whitesmoke;
    border-radius: 50px;
    border-style:none;
    transform: scale(1,1);
    z-index: 2;
    
      
}


/*  search form section */
  /* #form{
    display: flex;
    position:absolute;
    background-color:whitesmoke;
    border-radius: 30px;
    height: 45px;
    width: 480px;
    margin-left:300px;
  } 
    */


/* .searchimg image{
    display: flex;
    position: absolute;
    margin-left:890px;
    width: 56px;
    top: 129px;
    height: 35px;
    padding-left: 6px;
  

} */
.search{
    margin-left: 10px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 65px;
    display: flex;
    align-items: center;
    justify-content:space-between;

}
.search input{
    border-radius: 30px;
    display: flex;
    position: absolute;
    height:39px;
    width: 544px;
    top: 127px;
    
    margin-left:392px;
    padding-left: 52px;
    padding-right: 0px;

}
.btn input{
    border-radius: 30px;
    display: flex;
    position: absolute;
    margin-left:890px;
    width: 56px;
    top: 129px;
    height: 35px;
    padding-left: 6px;
    padding-right: 0px;
}
.guglesrch{
    position:absolute;
    display: flex;
    top: 0px;
}
.guglesrch input{
    display:flex;
    border-radius: 45px;
    margin-left: 50px;
    margin-top: 3px;
    height: 26px;
    width: 960px;
    top: 0px;
    bottom: 0px;
    opacity:0xpx;

}

 

/* Heading Google word*/
.gGoogle{
    color: rgb(35, 21, 223);
     display: flex;
     position: absolute;
     height: 0px;
     top: 0px;
     margin-left: 596px;
     padding-left: 0px;
     margin-bottom: 0px;
     font-size: -webkit-xxx-large;
     font-weight: bold;
}
.oGoogle{
    color: brown;
    display: flex;
     position: absolute;
     height: 0px;
     top: 0px;
     margin-left: 634px;
     padding-left: 0px;
     margin-bottom: 0px;
     font-size: -webkit-xxx-large;
     font-weight: bold;

}
.o2Google{
    color:rgb(243, 228, 19);
    display: flex;
    position: absolute;
    height: 0px;
    top: 0px;
    margin-left: 658px;
    padding-left: 0px;
    margin-bottom: 0px;
    font-size: -webkit-xxx-large;
    font-weight: bold;


}
.g2Google{
    color: rgb(35, 21, 223);
    display: flex;
     position: absolute;
     height: 0px;
     top: 0px;
     margin-left: 682px;
     padding-left: 0px;
     margin-bottom: 0px;
     font-size: -webkit-xxx-large;
     font-weight: bold;


}
.lGoogle{
    color: rgb(10, 207, 10);
    display: flex;
    position: absolute;
    height: 0px;
    top: 0px;
    margin-left: 705px;
    padding-left: 0px;
    margin-bottom: 0px;
    font-size: -webkit-xxx-large;
    font-weight: bold;

}
.eGoogle{
    color: brown;
    display: flex;
     position: absolute;
     height: 0px;
     top: 0px;
     margin-left: 718px;
     padding-left: 0px;
     margin-bottom: 0px;
     font-size: -webkit-xxx-large;
     font-weight: bold;

}
/* footer section */

.footer{
    display: flex;
    position: absolute;
    margin-left: 591px;
    top: 435px;
    height:0px;
    width: 181px;
    
}




